.brh-background-color{
    background-color: #0000cc !important;
}
.brh-button-color{
    background-color: #0000cc !important;
    color: #ffffff !important;
}
.brh-header-font-color{
    color: #0000cc !important;
}